//--------
// Config
//
// Variable definitions

// -------
//Layout

$gutter: 15px;

//----------------------------------------------------------------------------------------------------------------------
// FONTS
//----------------------------------------------------------------------------------------------------------------------

//--------
// Font family
$code-stack: 'Inconsolata', Menlo, Courier New, Courier, Mono, monospace;

$base-font-stack: 'OpenSans Light', 'Segoe UI', Tahoma, sans-serif;
$regular-font-stack: 'OpenSans Regular', 'Segoe UI', Tahoma, sans-serif;
$italic-font-stack: 'OpenSans Light Italic', 'Segoe UI', Tahoma, sans-serif;
$bold-font-stack: 'OpenSans Bold', 'Segoe UI', Tahoma, sans-serif;
$semi-font-stack: 'OpenSans Semibold', 'Segoe UI', Tahoma, sans-serif;

//--------
// Font weights
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 800;

//--------
// Base font
$base-font-weight: $font-weight-regular;
$base-font-size: 16px;
$base-font-factorial: 1.0;

//--------
// Fixed font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: 1.4;


//----------------------------------------------------------------------------------------------------------------------
// DIMENSIONS
//----------------------------------------------------------------------------------------------------------------------

//--------
// Stack order
$z-index-0:   0;
$z-index-1:   1;
$z-index-2:   2;
$z-index-3:   3;
$z-index-4:   4;
$z-index-5:   5;
$z-index-6:   6;
$z-index-7:   7;
$z-index-8:   8;
$z-index-9:   9;
$z-index-10: 10;
$z-below: -999999;
$z-above: 999999;


//----------------------------------------------------------------------------------------------------------------------
// BASE COLORS
//----------------------------------------------------------------------------------------------------------------------
$orange-peel:				   #FFA000;
$amber:        				 #FFC107;
$buttermilk:  				 #FFECB3;
$mine-shaft:   				 #212121;
$lynch:         			 #607D8B;
$boulder:							 #757575;
$green:								 #0f9d58;
$red:									 #EB374A;

$primary-text-color:   $mine-shaft;
$secondary-text-color: $boulder;

//----------------------------------------------------------------------------------------------------------------------
// SHADES OF GRAY
//----------------------------------------------------------------------------------------------------------------------

$gray-ten:						rgb(229,229,229);
$gray-twenty:					rgb(204,204,204);
$gray-thirty:					rgb(178,178,178);
$gray-forty:					rgb(153,153,153);
$gray-fifty:					rgb(127,127,127);
$gray-sixty:					rgb(102,102,102);
$gray-seventy:				rgb(76,76,76);
$gray-eighty:					rgb(51,51,51);
$gray-ninety:					rgb(25,25,25);
$gray-hundred:				rgb(0,0,0);

$divider-color:       $gray-thirty;
$divider-light:				$gray-ten;

$page-bg-color: 			 #fff;

//--------
// Text colors
$main-text-color: #dddddd;

//--------
// Element colors
$default-border-color: rgba(219, 218, 218, 1);
