//--------
// Mixers
//
// Includes commonly used and useful mixins

// ------------
// Breakpoints
// usage: @include for-desktop-up { [insert styles here] }

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin clean-block {
  margin: 0;
  padding: 0;
}

@mixin flexy ( $disp:flex, $dir:row, $wrap:wrap, $just:space-between ) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}

//--------
// Toggle element visibility
// When invisible element is still available for screenreaders.
//
// @switch        Modifier strings: 'hide'/'show'
@mixin elm-toggle($switch) {

  @if ($switch == 'hide') {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  } @else if ($switch == 'show') {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static !important;
    width: auto;
  }
}


//--------
// Clearfix element
// The tried and true clearfix hack allows us to contain floats without resorting to presentational markup.
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//--------
// Vendor prefixing
// Useful for newer CSS3 properties to increase compatibility
//
// @property        A CSS3 property
// @value           The value to be set on the property
@mixin css3($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

//--------
// Text overflow
// Truncate text with an ellipsis. Can be used on block or inline-block elements only.
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


//--------
// Gradient border
// Creates a border with a gradient
// Usage: @include border-gradient('top-bottom', 0 1px 0 0, solid, $default-border-color, $default-gradient-border-color);
//
// @mod         Direction of gradient ('top-bottom' or 'left-right')
// @width       Border width
// @style       Border style
// @color1      Starting color
// @color2      Ending color

@mixin border-gradient($mod, $width, $style, $color1: black, $color2: rgba(0, 0, 0, 0)) {
  border-width: $width;
  border-style: $style;

  @if ($mod == 'top-bottom') {
    -webkit-border-image:
    -webkit-gradient(linear, 0 100%, 0 0, from($color1), to($color2)) 1 100%;
    -webkit-border-image:
    -webkit-linear-gradient(bottom, $color1, $color2) 1 100%;
    -moz-border-image:
    -moz-linear-gradient(bottom, $color1, $color2) 1 100%;
    -o-border-image:
    -o-linear-gradient(bottom, $color1, $color2) 1 100%;
    border-image:
    linear-gradient(to top, $color1, $color2) 1 100%;
  } @else if ($mod == 'left-right') {
    -webkit-border-image:
    -webkit-gradient(linear, 0 100%, 0 0, from($color1), to($color2)) 1 100%;
    -webkit-border-image:
    -webkit-linear-gradient(right, $color1, $color2) 1 100%;
    -moz-border-image:
    -moz-linear-gradient(right, $color1, $color2) 1 100%;
    -o-border-image:
    -o-linear-gradient(right, $color1, $color2) 1 100%;
    border-image:
    linear-gradient(to right, $color1, $color2) 1 100%;
  }
}

@mixin transition( $transition-property, $transition-time:0.25s, $method:ease-in-out ) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
     @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin brightness( $amount ) {
  -webkit-filter: brightness( $amount );
	-moz-filter: brightness( $amount );
	-ms-filter: brightness( $amount );
	-o-filter: brightness( $amount );
	filter: brightness( $amount );
}

// --------
// GRAYSCALE FILTER
// usage: @include grayscale_element(100%);
@mixin grayscale_element($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}

@mixin font-stack ( $stack:light ) {
  @if $stack == 'light' {
   font-family: $base-font-stack;
 } @else if $stack == 'reg' {
   font-family: $regular-font-stack;
 } @else if $stack == 'bold' {
   font-family: $bold-font-stack;
 } @else if $stack == 'semi' {
   font-family: $semi-font-stack;
 } @else if $stack == 'italic' {
   font-family: $italic-font-stack;
 }
}