//--------
// Base
//
// Core element and element library definitions

//----------------------------------------------------------------------------------------------------------------------
// VIEWPORT/WINDOW
//----------------------------------------------------------------------------------------------------------------------

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: $font-light;
  font-size: 100%/1.5;
  padding: 0;
}


//----------------------------------------------------------------------------------------------------------------------
// ANCHORS/LINKS
//----------------------------------------------------------------------------------------------------------------------

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

//----------------------------------------------------------------------------------------------------------------------
// INLINE
//----------------------------------------------------------------------------------------------------------------------

small, .small {
  font-size: 0.707em;
}

b, strong {
  font-family: $font-bold;
}

//----------------------------------------------------------------------------------------------------------------------
// BLOCK
//----------------------------------------------------------------------------------------------------------------------

blockquote {

}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;

  code {
    margin: 0;
    padding: 0;
    font-family: Inconsolata;
    border: none;
  }
}

ul, ol {
  &.no-style {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}
