//--------
// Base
//
// Core element and element library definitions

//----------------------------------------------------------------------------------------------------------------------
// VIEWPORT/WINDOW
//----------------------------------------------------------------------------------------------------------------------

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-size: 100%/1.5;

  @include font-stack('light');
}


//----------------------------------------------------------------------------------------------------------------------
// ANCHORS/LINKS
//----------------------------------------------------------------------------------------------------------------------

a, a:link, a:visited, a:active {
	text-decoration: none;
	color: $lynch;
	@include transition(color, .15s, ease-in-out);
}

a:hover {
	color: $secondary-text-color;
	text-decoration: underline;
}

a:active {
	position: relative;
	bottom: -1px;
}

//----------------------------------------------------------------------------------------------------------------------
// INLINE
//----------------------------------------------------------------------------------------------------------------------

small, .small {
  font-size: 0.707em;
}

b, strong {
  @include font-stack('bold');
}

//----------------------------------------------------------------------------------------------------------------------
// BLOCK
//----------------------------------------------------------------------------------------------------------------------

p {
	margin: 10px 0;
	padding: $gutter;
}

blockquote {
	@include font-stack('italic');
}

hr {
  border: 0;
  margin: 25px auto;
  height: 1px;
  width: 70%;
  background-image: -webkit-linear-gradient(left, $divider-light, $divider-color, $divider-light);
  background-image: -moz-linear-gradient(left, $divider-light, $divider-color, $divider-light);
  background-image: -ms-linear-gradient(left, $divider-light, $divider-color, $divider-light);
  background-image: -o-linear-gradient(left, $divider-light, $divider-color, $divider-light);
}

pre {
  margin: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;

  code {
    margin: 0;
    padding: 0;
    font-family: $code-stack;
    font-size: 1em;
    line-height: .4em;
    border: none;
  }
}

ul, ol {
  &.no-style {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}